html {
    scroll-behavior: smooth;
    
}

body {
    background-color: #272727 !important;
}

.text {
    font-family: 'Montserrat';    
    font-weight: 500;
    color: white;
}

.first-text {
    margin-top: 260px;
    font-size: 150%;
}

#hey {
    font-size: 50px;
}

#itsrizma {
    font-size: 70px;
}

#gettoknowmore {
    margin-top: 195px;
    margin-bottom: 15px;
    color: #74D7BD !important;
}

#my-image {
    width: 55%;
    height: auto;
}

.about-me {
    margin-top: 80px;
}

.about-me-text {
    text-align: left;
    font-size: 21px;
    margin-left: -70px;
    margin-top: 10px
}

.last-row {
    margin-top: 40px;
}
.education {
    margin-top: 50px;
}

.edu-card {
    background-color: #3F3F3F;
    border-radius: 40px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.25);
}

.logo-image {
    width: 70px;
    height: auto;
    margin-left: 30px;
}

#sma17 {
    width: 85px;
    height: auto;
    margin-left: 30px;
}

.table-text {
    padding-left: 50px;
}

.socmed{
    color: white;
    width: 50px;
    height: auto;
    margin: 25px;
}

.socmed-text {
    color: #74D7BD;
}

#uppersocmed {
    margin-top: 25px;
}

#lowersocmed {
    margin-top: 10px;
}

.last-row {
    margin-bottom: 45px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
    .first-part {
        text-align: center;
    }
    .first-text{
        margin-top: 200px;
    }
    #gettoknowmore{
        text-align: center;
        margin-top: 170px;
    }
    .about-me{
        justify-content: center;
    }
    .about-me-text{
        margin: 10px;
        text-align: center;
        font-size: 20px;
    }

    .socmed-col {
        margin-top: 0px;
    }
}